<app-header></app-header>

  <div class="container">

    <div class="row">
      <div class="col-md-8">
        <app-keg-list
          [kegList]="kegList"
          (deleteKegSender)="deleteKeg($event)"
          (sellPintSender)="sellPint($event)"
          (editKegSender)="startEditKeg($event)"
          (newKegSender)="startNewKeg()"
        ></app-keg-list>
      </div> <!-- col -->

      <div class="col-md-4">
        <app-keg-edit
          [editKeg]="editKeg"
          (endEditKegSender)="endEditKeg()"
        >
        </app-keg-edit>
      </div> <!-- col -->

    </div> <!-- row -->


  </div>
